.space-mono-regular {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: italic;
}

html {
  background: #ffffff;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgb(217, 217, 217) 100%
  );
  color: rgb(86, 86, 86);
}

body {
  font-family: 'Space Mono', monospace;
  /* padding: 40px; */
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}
.profile-headshot {
  width: 200px;
  margin-bottom: 0;
}

h1 {
  margin-top: 0;
}

h1,
h2 {
  margin-bottom: 0px;
}

h1 span,
h2 span {
  background-color: white;
  padding: 0.2em 0.4em;
}

.full-name {
  margin-top: 0;
  padding: 0em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.full-name span {
  background-color: white;
  padding: 0.2em 0.75em;
}

#about-body {
  margin-top: 0px;
  background-color: white;
  padding: 0.3em 1em;
  list-style-type: square;
}

#header {
  margin-bottom: 0;
}

#exp-skills {
  margin-top: 0;
}

#connect ul {
  margin-top: 0;
  list-style-type: none;
  padding: 0.3em 0.0125em;
}

/* #connect ul li {
  padding: 0.3em 0em;
} */

#connect ul li span {
  background-color: white;
  padding: 0.3em 0.5em;
}

#experience span ul {
  margin-top: 0px;
  margin-bottom: 0;
  padding: 0.3em 2em;
  background-color: white;
  list-style-type: square;
}

#skills h2 {
  margin-top: 0;
  margin-bottom: 0;
}

#skills p {
  margin-top: 0;
  background-color: white;

  padding: 0.3em 1em;
}
#skills p span {
  margin-top: 0px;

  /* padding: 0.3em 1em; */
  /* list-style-type: square; */
}

#contact h1 {
  margin-bottom: 0;
}

#contact p {
  margin-top: 0;
  padding: 0 0 0 0;
}

#contact p span {
  margin-top: 0;
  background-color: white;
  padding: 0.3em 1em;
}

#contact-connect {
  display: flex;
}

#header {
  display: flex;
  flex-direction: row;
}

#about {
  margin-top: auto;
}

footer {
  text-align: center;
}

a:link,
a:visited,
a:active {
  color: inherit; /* This makes the link inherit the color of its parent element */
  text-decoration: none; /* This removes the underline */
}
a:hover {
  background-color: yellow;
}
