@font-face {
  font-family: 'Whyte Plus';
  src: url('/fonts/ABCWhytePlusVariable-Trial.woff2') format('woff2');
  font-weight: 100 600;
  font-style: normal;
  font-display: swap;
}

html {
  color: rgb(37, 37, 37);
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.9) 10%,
    rgba(255, 255, 255, 0.6) 35%,
    rgba(255, 255, 255, 0.25) 60%,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 0) 100%
  ); */

  background: radial-gradient(
    circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 20%,
    rgba(255, 255, 255, 0.9) 25%
  );

  pointer-events: none; /* Allows interaction with map underneath */
}

#container button,
#container .compass,
#container .zoom-control {
  display: none !important;
}

.nav-logo-container {
  position: relative;
  display: inline-block;
}
.nav-headshot {
  position: absolute;
  top: 0;
  left: 0
  transform: translate(-50%, -50%);
  width: 138px;
  height: 238/2px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.nav-logo-container:hover .nav-logo {
  opacity: 0;
}

.nav-logo-container:hover .nav-headshot {
  opacity: 1;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.5rem 0.5rem; */
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 100;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}

.nav-logo {
  font-family: 'Whyte Plus', monospace;
  font-size: 5em;
  margin-top: 0;
  font-variation-settings:
    'wght' 600,
    'ital' 100,
    'opsz' 1;
  padding-left: 2rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

.nav-menu {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Whyte Plus', sans-serif;
  font-size: 1.5rem;
}

.nav-menu a {
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
  padding-right: 2rem;
  border-radius: 4px;
}

body {
  cursor: none !important;
  padding-top: 350px;
  font-family: 'Space Mono', monospace;
  /* font-family: 'Whyte Plus', sans-serif; */
  font-size: 1em;
  font-variation-settings:
    'wght' 300,
    'ital' 0,
    'opsz' 0;
  /* padding: 40px; */
  max-width: 1000px;
  margin: 0 auto;
  /* line-height: 1.6; */
}

h2 {
  font-family: 'Whyte Plus';
  margin-bottom: 0px;
  font-variation-settings:
    'wght' 400,
    'ital' 100,
    'opsz' 1;
  font-size: 4em;
}

#about {
  scroll-margin-top: 350px;
}

#about h2 {
  display: none;
}

#about-body {
  margin-top: 0px;
  font-family: 'Whyte Plus' !important;
  font-variation-settings:
    'wght' 400,
    'ital' 0,
    'opsz' 1;
  font-size: 3em;
}

#connect ul {
  margin-top: 0;
  list-style-type: none;
  /* padding: 0.3em 0.0125em; */
}

#experience {
  scroll-margin-top: 120px;
}
.exp-item {
  margin-bottom: 2.5rem;
}

.exp-header {
  display: flex;
  justify-content: space-between; /* Row layout: Title left, Date right */
  align-items: baseline;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 5px;
}

.job-title {
  font-family: 'Whyte Plus';
  font-variation-settings:
    'wght' 500,
    'ital' 0,
    'opsz' 1;
  font-size: 1.5em;
}

.dates {
  font-size: 0.9rem;
  color: #393939;
}

.description {
  margin-top: 10px;
  font-size: 0.9em;
}

/* Connect List */
#connect ul {
  list-style: none;
  padding: 0;
}

#connect li {
  margin-bottom: 10px;
}

#skills {
  scroll-margin-top: 50px;
}

#contact-connect {
  display: flex;
}

#projects {
  scroll-margin-top: 120px;
}

#connect {
  scroll-margin-top: 100px;
}

#header {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Add this too */
}

footer {
  text-align: center;
}

a:link,
a:visited,
a:active {
  color: inherit; /* This makes the link inherit the color of its parent element */
  text-decoration: none; /* This removes the underline */
}
a:hover {
  text-decoration: underline;
}
