.space-mono-regular {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: 'Space Mono', monospace;
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.profile-headshot {
  width: 25%;
}
